body {
	width: 800px;
	margin:0 auto;
	font-family: "georgia";
}

textarea {
	display: block;
	margin: 0 auto;
	font: inherit;
	font-size: 20px;
	padding: 5px 10px 5px 10px;
	border: none;
	border-radius: 2px;
	box-shadow: 
		0 4px 4px 0 rgba(0,0,0,0.16),
		0 0 0 2px rgba(0,0,0,0.08);
}

button:hover {
	background-color: #0064dc;
	color:#fff;
}

button {
	display: block;
	margin: 0 auto;
	border: none;
	background-color: #1473e6;
	color: #fff;
	line-height: 32px;
	min-height: 32px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 16px;
	font-size: 15px;
}

h1,p {
	text-align: center;
	margin: 5px auto;
}

p {
	margin-top: 50px;
	margin-bottom: 20px;
}

#result {
	width: 371px;
	margin: 5px auto;
}